#start{
    background-color: #EC4D37;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#start {
    background-color: white; 
    color: black; 
    border: 2px solid #EC4D37;
}

#start:hover {
    background-color: #EC4D37;
    color: white;
}
#stop{
    background-color: #EC4D37;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#stop{
    background-color: white; 
    color: black; 
    border: 2px solid #EC4D37;
}
#stop:hover{
    background-color: #EC4D37;
    color: white;
}